# Virtual Environments
donorenv/       ← Your specific env name
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pyc
*.pyd
*.pyo

# IDE
.vscode/
.idea/

!alembic/versions/.gitkeep
.env
db.sqlite3
# Alembic
!alembic/versions/*.py
alembic/versions/*.pyc
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# AWS + EB configs
aws/
logs/
# Dev credentials
dev_credentials.txt
db_fixtures.py
awscliv2.zip
# Editor + local environment
.pytest_cache/
.vercel
